body {
    background-image: url(https://images.unsplash.com/photo-1671368913134-c211bc02487f?q=80&w=1098&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: left;
    position: relative;
    bottom: 10px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    top: 50%;
}

label {
    color: black;
    font-weight: bold;
}

input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    
    padding: 8px;
    border: none;
    background: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #c53434;
}