form {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: left;
}

section {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label {
    color: black;
    font-weight: bold;
}

input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    
    padding: 8px;
    border: none;
    background: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #c53434;
}